numpy
opencv-python
Pillow
matplotlib
torch==2.0.1
torchvision
paddleocr
paddlepaddle==2.5.0
onnxruntime
imageio
moviepy
streamlit
streamlit-option-menu
tqdm
scikit-image
scikit-learn
imutils
requests
pandas
ultralytics==8.0.20
